{% extends "v_layout.html.twig" %}
{% block contenu %}
<div class ="grid">
    <div class="grid-noGutter" data-push-left="off-2">
        <div class="col-4">
            <form method="post" action="{% if fromage is defined %} {{ path("fromage.validFormAddFromage",{fromage: fromage}) }} {% else %} {{ path("fromage.validFormAddFromage") }} {% endif %} ">
                <div class="login-block">
                    <h1>Ajout d'un fromage</h1>
                    <label>Nom du fromage</label>
                    <input class="inputLoginBlock" name="libelle_fromage"  type="text"  size="18" value="{{ donnees.libelle_fromage | default('') }}"/>
                    {% if erreurs.libelle_fromage is defined %}
                        <small class="error">{{erreurs.libelle_fromage}}</small>
                    {% endif %}
                    <input type="submit" class="button boutonPerso" name="creerFromage" value="creer" >
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
