{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{% if plat is defined %} {{ path("plats.validFormAdd",{plat: plat}) }} {% else %} {{ path("plats.validFormAdd") }} {% endif %} ">
        <div class="row">
            <fieldset>
                <legend>Creer un plats</legend>
                <label>Nom du plat:
                    <input name="libelle_plat"  type="text"  size="18" value="{{donnees.libelle_plat|default("")}}" />
                    {% if erreurs.libelle_plat is defined %}
                        <small class="error">{{erreurs.libelle_plat}}</small>
                    {% endif %}
                </label>
                <input type="submit" name="creerPlat" value="créer" />
            </fieldset>
        </div>
    </form>
{% endblock %}
