{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{% if dessert is defined %} {{ path("dessert.validFormAddDessert",{dessert: dessert}) }} {% else %} {{ path("dessert.validFormAddDessert") }} {% endif %} ">

    <div class="row">
        Ajout d'un dessert
        <fieldset>
            <label>Nom du dessert
            <input name="libelle_dessert"  type="text"  size="18" value="{{ donnees.libelle_dessert | default('') }}"/>
                {% if erreurs.libelle_dessert is defined %}
                     <small class="error">{{erreurs.libelle_dessert}}</small>
                {% endif %}
            </label>
            <input type="submit" name="creerDessert" value="creer" >
        </fieldset>
    </div>
</form>
{% endblock %}
