{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-4">
            <div class="col-4">
                <form method="post" action="{{path('dessert.validFormDeleteDessert')}}">
                    <div class="login-block">
                            <input type="hidden" name="_method" id="_method" value="delete"/>
                            <h1>Voulez-vous suprimer ce dessert ?</h1>
                            <h2 id="blue">{{ donnees.libelle_dessert }}</h2>
                            {%  for libelle in libelle %}
                                <h3>Le {{ libelle.libelle_menu }} sera également supprimer</h3>
                            {% endfor %}
                            <input name="id"  type="hidden" value="{{donnees.id_dessert}}" />
                            <input type="submit" class="button" name="suprimerDessert" value="Suprimer" />
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}