{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-2">
            <div class="col-4">
                <form method="post" action="{% if dessert is defined %} {{ path("dessert.validFormAddDessert",{dessert: dessert}) }} {% else %} {{ path("dessert.validFormAddDessert") }} {% endif %} ">
                    <div class="login-block">
                        <h1> Ajout d'un dessert</h1>
                        <label>Nom du dessert </label>
                        <input class="inputLoginBlock" name="libelle_dessert"  type="text"  size="18" value="{{ donnees.libelle_dessert | default('') }}"/>
                        {% if erreurs.libelle_dessert is defined %}
                            <small class="error">{{erreurs.libelle_dessert}}</small>
                        {% endif %}
                        <input type="submit" class="button" name="creerDessert" value="Créer" >
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
