{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class ="grid">
        <div class="grid-noGutter" data-push-left="off-4">
            <div class="col-4">
            <form method="post" action="{{path('supplement.validFormDeleteSupplement')}}">
                <div class="login-block">
                        <input type="hidden" name="_method" id="_method" value="delete"/>
                        <h1>Voulez-vous suprimer ce supplement ?</h1>
                        <h2 id="blue">{{ donnees.type_supplement }}</h2>
                        <input name="id"  type="hidden" value="{{donnees.id_supplement}}" />
                        <input type="submit" class="button" name="suprimerSupplement" value="Suprimer" />
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}