{% extends "v_layout.html.twig" %}
{% block contenu %}
<div class ="grid">
    <div class="grid-noGutter" data-push-left="off-2">
        <div class="col-4">
            <form method="post" action="{% if supplement is defined %} {{ path("supplement.validFormAddSupplement",{supplement: supplement}) }} {% else %} {{ path("supplement.validFormAddSupplement") }} {% endif %} ">
                <div class="login-block">
                        <h1>Ajout d'un supplement</h1>
                        <label>Nom du supplement
                            <input class="inputLoginBlock" name="type_supplement"  type="text"  size="18" value="{{ donnees.type_supplement | default('') }}"/>
                            {% if erreurs.type_supplement is defined %}
                                <small class="error">{{erreurs.type_supplement}}</small>
                            {% endif %}
                        </label>
                        <input type="submit" class=" button" name="creerSupplement" value="creer" >
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
