{% extends "v_layout.html.twig" %}
{% block contenu %}
  <a class="button" href="{{ path('plats.index') }}">Afficher plats</a>
  <br>
  <a class="button" href="{{ path('typePlat.index') }}">Afficher Types plats</a>
    {% for alert in app.session.flashbag.get('msg') %}
      <div class="error-message">
        <div class="alert"><strong>{{ alert }}</strong></div>
      </div>
    {% endfor %}
{% endblock %}