{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{path('typePlat.validFormDeleteTypePlat')}}">
        <div class="row">
            <fieldset>
                    <input type="hidden" name="_method" id="_method" value="delete"/>
                <legend>Voulez-vous suprimer ce typePlat ? (twig)</legend>
                <h3 id="blue">{{ donnees.libelle }}</h3>
                <input name="id"  type="hidden" value="{{donnees.idTypePlat}}" />
                <input type="submit" name="suprimerTypePlat" value="Suprimer" />
            </fieldset>
        </div>
    </form>
{% endblock %}