{% extends "v_layout.html.twig" %}
{% block contenu %}

    <div class="grid">
        <div class="grid-noGutter" data-push-left="off-4">
            <div class="col">
                <div class="profilInfo">
                    <h1>Profil</h1> </br>
                    <span class="profilCateInfo"> Nom </span><span class="profilContenuInfo"> DeLaFontaine </span> </br>
                    <span class="profilCateInfo"> Prénom </span><span class="profilContenuInfo"> DeLaFontaine </span></br>
                    <span class="profilCateInfo"> Email </span><span class="profilContenuInfo"> DeLaFontaine </span></br>
                    <span class="profilCateInfo"> Téléphone </span><span class="profilContenuInfo"> DeLaFontaine </span> </br>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
