{% extends "v_layout.html.twig" %}
{% block contenu %}
    <div class="grid-y" style="height: 50px;">
    </div>
    <form method="post" action="{{ path("aperitif.validFormAddAperitif") }} ">
        <div class=" grid-y" style="height: 500px; " >
            <div class="cell small-6 medium-4 large-10">
                <div class="grid-x" >
                    <div class="small-4 large-offset-3 cell" >
                        <div class="card" style ="color:whitesmoke; padding: 20px; border-radius: 50px; ">
                            <fieldset>
                                <legend style =" color:whitesmoke; text-decoration: underline">Ajout d'un apéritif</legend>

                                <label style =" color:whitesmoke;">Nom de l'apéritif
                                    <input name="libelle_aperitif"  type="text"  size="18" value="{{ donnees.libelle_aperitif | default('') }}"/>
                                    {% if erreurs.libelle_aperitif is defined %}
                                        <small class="error">{{erreurs.libelle_aperitif}}</small>
                                    {% endif %}
                                </label>
                                <input type="submit" class = "boutonPerso button" name="creerAperitif" value="Créer" >
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
