{% extends "v_layout.html.twig" %}
{% block contenu %}
<div class ="grid">
    <div class="grid-noGutter" data-push-left="off-2">
        <div class="col-4">
            <form method="post" action="{{ path("aperitif.validFormAddAperitif") }} ">
                <div class="login-block">
                    <h1>Ajout d'un apéritif</h1>
                    <label>Nom de l'apéritif </label>
                        <input class="inputLoginBlock" name="libelle_aperitif"  type="text"  size="18" value="{{ donnees.libelle_aperitif | default('') }}"/>
                        {% if erreurs.libelle_aperitif is defined %}
                            <small class="error">{{erreurs.libelle_aperitif}}</small>
                        {% endif %}
                    <input type="submit" class = "button" name="creerAperitif" value="Créer" >
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
