{% extends "v_layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{path('aperitif.validFormDeleteAperitif')}}">
        <div class="row">
            <fieldset>
                <input type="hidden" name="_method" id="_method" value="delete"/>
                <legend>Voulez-vous suprimer cette apéritif ? (twig)</legend>
                <h3 id="blue">{{ donnees.libelle_aperitif }}</h3>
                <input name="id"  type="hidden" value="{{donnees.id_aperitif}}" />
                <input type="hidden"   name="_csrf_token"   value="{{ csrf_token('token_delete_aperitif') }}">
                <input type="submit" name="suprimerAperitif" value="Suprimer" />
            </fieldset>
        </div>
    </form>
{% endblock %}